# Backend
backend/target/
backend/.idea/
backend/*.iml

# Don't ignore mvnw - needed for deployment

# Frontend
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/pubspec.lock

# Don't ignore frontend/build/ - we need it for deployment

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
